:root {
    --cornerRadius: 10px;
    --lesson-bg-color: rgb(188,169,225);
    --break-bg-color: rgb(231,236,163);
    --font: bold 16px Arial, sans-serif;
}

.PageTitle {
    text-align: center;
    font: bold 30px Arial, sans-serif;
}

.daysContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    height: 450px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #ccc;
}

.hoursContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: 150px;
    min-height: 400px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.lesson {
    width: 200px;
    height: 100px;
    background-color: var(--lesson-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font);
    padding: 10px;
    border-radius: var(--cornerRadius);
}

.break {
    width: 200px;
    height: 35px;
    background-color: var(--break-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font);
    padding: 10px;
    border-radius: var(--cornerRadius);
}

.editButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7.5px;
}

.DayHeader {
    text-align: center;
    font: bold 20px Arial, sans-serif;
}

.addLesson, .addBreak {
    font: bold 14px Arial, sans-serif;
    border-radius: 6px;
    cursor: pointer;
}

.contextMenu {
    display: flex;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 6px;
}